.App {
  /* text-align: center; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Kotak{
  width: 40%;
  margin: 100px auto; 
  border: 1px solid #000; 
  border-radius: 20px
}

.Kotak h1 {
  text-align: center;
}

.Konten {
  padding: 20px; 
  padding-top: 0px
}

.Atas {
  display: block; 
  margin-bottom: 1em;
}

.Nama-pelanggan, .Daftar-item{
  display: inline-block; 
  width: 150px; 
  font-weight: bold; 
  font-size: 16px;
}

.Input-name {
  display: inline-block; 
}

.Bawah {
  display: block; 
  margin-bottom: 1em;
}

.Item-list {
  display: inline-block;
}

.Btn-submit {
  background: white; 
  border-radius: 20px;
}

.Btn-submit a {
  text-decoration: none;
  color: black;
}

.Judul-table {
  text-align: center;
}

.text-center {
  text-align: center;
}
table {
  width: 65%;
  border: 1px solid black;
  margin: 0 auto 30px;
}

table thead {
  background: rgb(165, 165, 165);
}

table tbody {
  background: rgb(255, 112, 60);
}

/* .container{
  display: flex;
} */

.container{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.content {
  flex: 1;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 12px;
  border: 1px solid black;
}

.content .photo {
  width: 100%;
  height: 175px;
  background-position: center;
  background-size: cover;
}

.tugas-11{
  margin-top: 17px;
  height: 68px;
  line-height: 68px;
  display: flex;
  justify-content: space-around;
  /* background: rgb(204, 204, 204); */
}

.tugas-12 {
  width: 32%;
  margin: 12px auto;
  background: whitesmoke;
  padding: 7px 12px;
  height: 142px;
}

.tugas-12 form label {
  float: left;
}

.tugas-12 form input {
  float: right;
}

.tugas-12 button {
  float: right
}

nav{
  width: 100%;
  height: 56px;
  margin-bottom: 32px;
  top: 0;
  position: sticky;
  box-shadow: 1px 1px 18px grey;
}


nav ul {
  float: right;
  padding-right: 32px;
  display: flex;
  line-height: 56px;
}

nav ul li {
  flex: 1;
  list-style: none;
  margin-left: 17px;
}

nav.dark {
  background: rgb(51, 51, 51);
}

nav.dark ul li a{
  text-decoration: none;
  color: whitesmoke;
}

nav.light {
  background: rgb(240, 240, 240);
}
nav.light ul li a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}