.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Kotak{
  width: 40%;
  margin: 100px auto; 
  border: 1px solid #000; 
  border-radius: 20px
}

.Kotak h1 {
  text-align: center;
}

.Konten {
  padding: 20px; 
  padding-top: 0px
}

.Atas {
  display: block; 
  margin-bottom: 1em;
}

.Nama-pelanggan, .Daftar-item{
  display: inline-block; 
  width: 150px; 
  font-weight: bold; 
  font-size: 16px;
}

.Input-name {
  display: inline-block; 
}

.Bawah {
  display: block; 
  margin-bottom: 1em;
}

.Item-list {
  display: inline-block;
}

.Btn-submit {
  background: white; 
  border-radius: 20px;
}

.Btn-submit a {
  text-decoration: none;
  color: black;
}